.alert {
    border-radius: 0.375rem;
    border: 1px solid #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.alert .btn-close {
    padding: 1.25rem 1rem;
}

.alert i {
    font-size: 1.25rem;
}